<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419955068879-dsvil25rmsi46v4hs6td9d0ud94sdoit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419955068879-dsvil25rmsi46v4hs6td9d0ud94sdoit</string>
	<key>API_KEY</key>
	<string>AIzaSyBbTBR8WmGqmJTEtcZOuyUNxhzQ9-rM99s</string>
	<key>GCM_SENDER_ID</key>
	<string>419955068879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BAR.Ronaspro</string>
	<key>PROJECT_ID</key>
	<string>ronaspro-ebee3</string>
	<key>STORAGE_BUCKET</key>
	<string>ronaspro-ebee3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419955068879:ios:8a8be76a3d590bccf44cba</string>
</dict>
</plist>